.todo-item {
  .container  {
    label {
      color: #8b8f97;
      font-size: 12px;
      text-transform: capitalize;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .icon-trash {
      right: 9px;
      cursor: pointer;
      position: absolute;
      display: none;
    }
    &:hover {
      .icon-trash {
        display: block;
      }
    }
  }
  .completed {
    label {
      text-decoration: line-through;
    }
  }
}
